/*https://colorhunt.co/palette/3334467f8caab8cfceeaefef*/

* {
    margin: 0%;
}

body {
    font-family: "Merriweather", serif;
    text-align: center;
    color: #40514e;
}

h1{
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 1.75;
}

h2, h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    line-height: 1.75;
}

p{
    font-size: 1em;
    line-height: 1.75;
}

h3{
    color: #11999e;
}

img{
    max-width: 100%;
}

hr{
    border: #40514e 2px dotted;
    border-bottom: none;
    width: 10%;
    margin: 50px auto;
}

/**************** Seção Cabeçalho ****************/
header {
    background-color: #333446;
    position: relative;
    top: 0;
    width: 100%;
}

header p{
    font-size: 1rem;
}

header h1, header p{
    color: #B8CFCE;
    text-align: center;
    line-height: 2em;
}

header h1{
    font-family: "Sacramento", cursive;
    color: #66BFBF;
}

.cab_celebro{
    width: 8%;
    max-width: 37px;
    position: absolute;
    top: 45%;
}

#cab_celebro1{
    left: 7%;
}

#cab_celebro2{
    right: 7%;
}

#pessoas_tech{
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/**************** Seção Classes ****************/

.habilidades-row {
    margin: 40px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.habilidades-row figcaption{
    text-align: left;
    font-size: 0.8em;
    width: 60%;
    position: relative;
    margin: auto 5px;
}

.code-img, .fazer-img{
    width: 25%;
    max-width: 300px;
    min-width: 200px;
}

.contato{
    width: 70%;
    margin: auto;
}

.mensagem-contato{
    margin: 30px auto;
}

.contato-email{
    display: block;
    margin: 40px auto;
    padding: 10px;
    background-color: #333446;
    color: #B8CFCE;
    width: 30%;
    min-width: 150px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 2;
    font-weight: bold;
}

.contato-email:hover{
    background-color: #7fa3a1;
    color: #202130;
}

.redes-contato{
    display: flex;
    width: 40px;
    flex-flow: column;
    position: fixed;
    bottom: 6%;
    right: 0px;
    z-index: 2;
    background-color: #202130e3;
    border-radius: 10px;
}

.redes-contato a{
    text-decoration: none;
}

.redes-contato a:hover{
    background-color: #2f4852;
    border-radius: 10px;
}

.redes-contato img{
    height: 19px;
    margin: 0px 10px;
    padding: 10px 0px;
}

footer{
    display: block;
    margin: 5px auto;
    background-color: #333446;
    position:relative;
    width: 100%;
    bottom: 0px;
}

footer p{
    padding: 10px;
    font-size: .5rem;
    color: #B8CFCE;
    margin: 0px auto 0px;
    padding-bottom: 5px;
}
/**************** Seção IDs ****************/


/**************** Seção Exemplo ****************/
.principal {
    border: rebeccapurple 2px solid;
    width: 90%;
    max-width: 450px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    margin: auto;
}

.principal div{
    border: goldenrod solid 2px;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    align-content: center;
}

.principal div:nth-child(1){
    border: red solid 5px;
    align-self: flex-end;
}