/*https://colorhunt.co/palette/3334467f8caab8cfceeaefef*/

body {
    margin: 0px;
}

/**************** Seção Tags ****************/
header {
    background-color: #333446;
}

header h1, header p{
    color: #B8CFCE;
    text-align: center;
}


/**************** Seção Classes ****************/
.cab_celebro{
    display: block;
    width: 20%;
    position: sticky;
    left: 40%;
}


/**************** Seção IDs ****************/
#pessoas_tech{
    
}

/**************** Seção Exemplo ****************/
main div{
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
}

#vermelho{
    background-color: red;
}

#amarelo{
    background-color: yellow;
    left: 205px;
}

#roxo{
    background-color:blueviolet;
    left: 405px;
}