/*https://colorhunt.co/palette/3334467f8caab8cfceeaefef*/

body {
    margin: 0px;
    font-family: "Merriweather", serif;
}

/**************** Seção Cabeçalho ****************/
header {
    background-color: #333446;
    position: relative;
}

header h1, header p{
    color: #B8CFCE;
    margin: 0 auto;
    width: 250px;
    text-align: center;
}

header h1{
    font-family: "Sacramento", cursive;
    font-weight: normal;
}

.cab_celebro{
    width: 20%;
    max-width: 100px;
    position: absolute;
    top: 152.83px;
}

/* #cab_celebro1{
    
} */

#cab_celebro2{
    right: 0px;
}

#pessoas_tech{
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/**************** Seção Classes ****************/

/**************** Seção IDs ****************/


/**************** Seção Exemplo ****************/
main div{
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
}

/* #vermelho{
    background-color: red;
}

#amarelo{
    background-color: yellow;
    left: 205px;
}

#roxo{
    background-color:blueviolet;
    left: 405px;
} */