body {
    margin: 0px;
}

/* *************** Seção Tags *************** */
header, main, footer{
    width: 200px;
    height: 200px;
}

header{
    background-color: #016B61;
    margin-top: 0px;
    border: solid black 10px;
    padding: 20px;
    margin-left: 0px;
}
header h1, header p{
    text-align: center;
    color: #9ECFD4;
}

header h1{
    margin-top: 0px;
}

main{
    background-color: red;
    border: solid black 20px;
    align-items: center;
    margin-left: 260px;
}

footer{
    background-color: yellow;
    border: solid black 10px;
    margin-left: 500px;
}