*{
    padding: 0;
    margin: 0;
}

body{
    justify-self: center;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 125px 60px 1fr 50px;
    grid-template-areas: 
    'cabecalho'
    'navegacao'
    'conteudo'
    'rodape';
}

.box{
    border: solid 5px rebeccapurple;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    grid-area: cabecalho;
}

nav{
    grid-area: navegacao;
}

main{
    grid-area: conteudo;
}

footer{
    grid-area: rodape;
}