*{
    padding: 0;
    margin: 0;
}

body{
    /* justify-self: center; */
    display: grid;
    min-height: 100vh;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 125px 1fr 50px;
    grid-template-areas: 
    'cabecalho cabecalho'
    'navegacao conteudo'
    /* 'conteudo' */
    'rodape rodape';
}

.box{
    border: solid 5px rebeccapurple;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

header{
    grid-area: cabecalho;
}

nav{
    grid-area: navegacao;
}

main{
    grid-area: conteudo;
}

footer{
    grid-area: rodape;
}

.contato-email{
    font-size: 1rem;
    display: block;
    margin: 40px auto;
    padding: 10px;
    background-color: #333446;
    color: #B8CFCE;
    min-width: max-content;
    border-radius: 5px;
    text-decoration: none;
    line-height: 2;
    font-weight: bold;
}

.contato-email:hover{
    background-color: #7fa3a1;
    color: #202130;
}
